[Desktop Entry]
Version=1.0
Name=utorrent
Type=Application
Comment=utorrent server
Terminal=true
Exec=utserver -configfile ~/.utorrent/utserver.conf -logfile ~/.utorrent/utserver.log
Icon=utorrent
Categories=Network;
GenericName=utorrent server
